<html>
<head>
<title>activity_main22.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: #999999; font-weight: normal; font-style: normal; }
.s0 { color: rgb(0,0,0); font-style: italic; }
.s1 { color: rgb(0,0,255); font-weight: bold; }
.s2 { color: rgb(0,0,0); }
.s3 { color: rgb(0,128,0); font-weight: bold; }
.s4 { color: rgb(0,0,0); }
.s5 { color: rgb(0,0,128); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
activity_main22.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s3">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s3">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s4"> 
</span><span class="s2">&lt;</span><span class="s5">android.support.constraint.ConstraintLayout </span><span class="s1">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:app=</span><span class="s3">&quot;http://schemas.android.com/apk/res-auto&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:background=</span><span class="s3">&quot;@android:color/background_light&quot;</span><span class="s2"> 
    </span><span class="s1">tools:context=</span><span class="s3">&quot;com.example.yassi.schoolup.Main22Activity&quot;</span><span class="s2">&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s5">ImageView</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/imageView4&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;353dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;478dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:adjustViewBounds=</span><span class="s3">&quot;false&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintBottom_toBottomOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintLeft_toLeftOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintTop_toTopOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintVertical_bias=</span><span class="s3">&quot;0.0&quot;</span><span class="s2"> 
        </span><span class="s1">app:srcCompat=</span><span class="s3">&quot;@drawable/a6&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintRight_toRightOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintHorizontal_bias=</span><span class="s3">&quot;0.533&quot; </span><span class="s2">/&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s5">Button</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/TimeBtn&quot;</span><span class="s2"> 
        </span><span class="s1">style=</span><span class="s3">&quot;@style/Widget.AppCompat.Button.Borderless.Colored&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;Time Table&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintRight_toRightOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginEnd=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">tools:layout_editor_absoluteY=</span><span class="s3">&quot;170dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintLeft_toLeftOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintHorizontal_bias=</span><span class="s3">&quot;0.083&quot; </span><span class="s2">/&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s5">Button</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/button4&quot;</span><span class="s2"> 
        </span><span class="s1">style=</span><span class="s3">&quot;@style/Widget.AppCompat.Button.Borderless.Colored&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;Reclamaton&quot;</span><span class="s2"> 
        </span><span class="s1">android:textColor=</span><span class="s3">&quot;@android:color/holo_red_light&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintRight_toRightOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">tools:layout_editor_absoluteY=</span><span class="s3">&quot;297dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginEnd=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintLeft_toLeftOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintHorizontal_bias=</span><span class="s3">&quot;0.968&quot; </span><span class="s2">/&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s5">Button</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/button5&quot;</span><span class="s2"> 
        </span><span class="s1">style=</span><span class="s3">&quot;@style/Widget.AppCompat.Button.Borderless.Colored&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;151dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;61dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;25dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginEnd=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;16dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;administrative services&quot;</span><span class="s2"> 
        </span><span class="s1">android:textColor=</span><span class="s3">&quot;@android:color/holo_blue_dark&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintBottom_toBottomOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintHorizontal_bias=</span><span class="s3">&quot;0.038&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintLeft_toLeftOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintRight_toRightOf=</span><span class="s3">&quot;parent&quot; </span><span class="s2">/&gt;</span><span class="s4"> 
 
</span><span class="s2">&lt;/</span><span class="s5">android.support.constraint.ConstraintLayout</span><span class="s2">&gt;</span><span class="s4"> 
</span></pre>
</body>
</html>