<html>
<head>
<title>activity_activity2.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: #999999; font-weight: normal; font-style: normal; }
.s0 { color: rgb(0,0,0); font-style: italic; }
.s1 { color: rgb(0,0,255); font-weight: bold; }
.s2 { color: rgb(0,0,0); }
.s3 { color: rgb(0,128,0); font-weight: bold; }
.s4 { color: rgb(0,0,0); }
.s5 { color: rgb(0,0,128); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
activity_activity2.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s3">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s3">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s4"> 
</span><span class="s2">&lt;</span><span class="s5">android.support.constraint.ConstraintLayout </span><span class="s1">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:app=</span><span class="s3">&quot;http://schemas.android.com/apk/res-auto&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:background=</span><span class="s3">&quot;@android:color/background_light&quot;</span><span class="s2"> 
    </span><span class="s1">tools:context=</span><span class="s3">&quot;com.example.yassi.schoolup.activity2&quot;</span><span class="s2"> 
    </span><span class="s1">tools:layout_editor_absoluteX=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
    </span><span class="s1">tools:layout_editor_absoluteY=</span><span class="s3">&quot;81dp&quot;</span><span class="s2">&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s5">EditText</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/date&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:ems=</span><span class="s3">&quot;10&quot;</span><span class="s2"> 
        </span><span class="s1">android:hint=</span><span class="s3">&quot;Date&quot;</span><span class="s2"> 
        </span><span class="s1">android:inputType=</span><span class="s3">&quot;date&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintRight_toRightOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintLeft_toLeftOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintHorizontal_bias=</span><span class="s3">&quot;0.503&quot;</span><span class="s2"> 
        </span><span class="s1">tools:layout_editor_absoluteY=</span><span class="s3">&quot;93dp&quot; </span><span class="s2">/&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s5">EditText</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/time&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:ems=</span><span class="s3">&quot;10&quot;</span><span class="s2"> 
        </span><span class="s1">android:hint=</span><span class="s3">&quot;Time&quot;</span><span class="s2"> 
        </span><span class="s1">android:inputType=</span><span class="s3">&quot;time&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintRight_toRightOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintLeft_toLeftOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;46dp&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintTop_toBottomOf=</span><span class="s3">&quot;@+id/date&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintHorizontal_bias=</span><span class="s3">&quot;0.503&quot; </span><span class="s2">/&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s5">EditText</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/Durée&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:ems=</span><span class="s3">&quot;10&quot;</span><span class="s2"> 
        </span><span class="s1">android:hint=</span><span class="s3">&quot;Durée&quot;</span><span class="s2"> 
        </span><span class="s1">android:inputType=</span><span class="s3">&quot;time&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintRight_toRightOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintLeft_toLeftOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;33dp&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintTop_toBottomOf=</span><span class="s3">&quot;@+id/time&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintHorizontal_bias=</span><span class="s3">&quot;0.503&quot; </span><span class="s2">/&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s5">EditText</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/But&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:ems=</span><span class="s3">&quot;10&quot;</span><span class="s2"> 
        </span><span class="s1">android:hint=</span><span class="s3">&quot;But&quot;</span><span class="s2"> 
        </span><span class="s1">android:inputType=</span><span class="s3">&quot;textPersonName&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintRight_toRightOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintLeft_toLeftOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;39dp&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintTop_toBottomOf=</span><span class="s3">&quot;@+id/Durée&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintHorizontal_bias=</span><span class="s3">&quot;0.503&quot; </span><span class="s2">/&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s5">Button</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/verifier&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;281dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;47dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;@android:color/holo_blue_light&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;Verifier  la disponibilité des salles&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintRight_toRightOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintLeft_toLeftOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintTop_toBottomOf=</span><span class="s3">&quot;@+id/But&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintBottom_toBottomOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintVertical_bias=</span><span class="s3">&quot;0.495&quot;</span><span class="s2"> 
        </span><span class="s1">tools:layout_editor_absoluteY=</span><span class="s3">&quot;400dp&quot; </span><span class="s2">/&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s5">TextView</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textView&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;Rèservation d'une salle&quot;</span><span class="s2"> 
        </span><span class="s1">android:textSize=</span><span class="s3">&quot;24sp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintBottom_toTopOf=</span><span class="s3">&quot;@+id/date&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintTop_toTopOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintRight_toRightOf=</span><span class="s3">&quot;parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;8dp&quot;</span><span class="s2"> 
        </span><span class="s1">app:layout_constraintLeft_toLeftOf=</span><span class="s3">&quot;parent&quot; </span><span class="s2">/&gt;</span><span class="s4"> 
</span><span class="s2">&lt;/</span><span class="s5">android.support.constraint.ConstraintLayout</span><span class="s2">&gt;</span><span class="s4"> 
</span></pre>
</body>
</html>