<html>
<head>
<title>activity_login.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: #999999; font-weight: normal; font-style: normal; }
.s0 { color: rgb(0,0,0); }
.s1 { color: rgb(0,0,128); font-weight: bold; }
.s2 { color: rgb(0,0,255); font-weight: bold; }
.s3 { color: rgb(0,128,0); font-weight: bold; }
.s4 { color: rgb(0,0,0); }
.s5 { color: rgb(128,128,128); font-style: italic; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
activity_login.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;</span><span class="s1">LinearLayout </span><span class="s2">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s0"> 
    </span><span class="s2">xmlns:app=</span><span class="s3">&quot;http://schemas.android.com/apk/res-auto&quot;</span><span class="s0"> 
    </span><span class="s2">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot;</span><span class="s0"> 
    </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s2">android:background=</span><span class="s3">&quot;@android:color/background_light&quot;</span><span class="s0"> 
    </span><span class="s2">android:gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s0"> 
    </span><span class="s2">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s0"> 
    </span><span class="s2">android:paddingBottom=</span><span class="s3">&quot;@dimen/activity_vertical_margin&quot;</span><span class="s0"> 
    </span><span class="s2">android:paddingLeft=</span><span class="s3">&quot;@dimen/activity_horizontal_margin&quot;</span><span class="s0"> 
    </span><span class="s2">android:paddingRight=</span><span class="s3">&quot;@dimen/activity_horizontal_margin&quot;</span><span class="s0"> 
    </span><span class="s2">android:paddingTop=</span><span class="s3">&quot;@dimen/activity_vertical_margin&quot;</span><span class="s0"> 
    </span><span class="s2">tools:context=</span><span class="s3">&quot;com.example.yassi.schoolup.LoginActivity&quot;</span><span class="s0">&gt;</span><span class="s4"> 
 
    </span><span class="s5">&lt;!-- Login progress --&gt;</span><span class="s4"> 
    </span><span class="s0">&lt;</span><span class="s1">ProgressBar</span><span class="s0"> 
        </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/login_progress&quot;</span><span class="s0"> 
        </span><span class="s2">style=</span><span class="s3">&quot;?android:attr/progressBarStyleLarge&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_marginBottom=</span><span class="s3">&quot;8dp&quot;</span><span class="s0"> 
        </span><span class="s2">android:visibility=</span><span class="s3">&quot;gone&quot; </span><span class="s0">/&gt;</span><span class="s4"> 
 
    </span><span class="s0">&lt;</span><span class="s1">ScrollView</span><span class="s0"> 
        </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/login_form&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0">&gt;</span><span class="s4"> 
 
        </span><span class="s0">&lt;</span><span class="s1">LinearLayout</span><span class="s0"> 
            </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/email_login_form&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s2">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s0">&gt;</span><span class="s4"> 
 
            </span><span class="s0">&lt;</span><span class="s1">ImageView</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/imageView3&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;279dp&quot;</span><span class="s0"> 
                </span><span class="s2">app:srcCompat=</span><span class="s3">&quot;@drawable/b&quot; </span><span class="s0">/&gt;</span><span class="s4"> 
 
            </span><span class="s0">&lt;</span><span class="s1">android.support.design.widget.TextInputLayout</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_weight=</span><span class="s3">&quot;1&quot;</span><span class="s0">&gt;</span><span class="s4"> 
 
                </span><span class="s0">&lt;</span><span class="s1">AutoCompleteTextView</span><span class="s0"> 
                    </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/email&quot;</span><span class="s0"> 
                    </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
                    </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                    </span><span class="s2">android:hint=</span><span class="s3">&quot;Login&quot;</span><span class="s0"> 
                    </span><span class="s2">android:inputType=</span><span class="s3">&quot;textEmailAddress&quot;</span><span class="s0"> 
                    </span><span class="s2">android:maxLines=</span><span class="s3">&quot;1&quot;</span><span class="s0"> 
                    </span><span class="s2">android:singleLine=</span><span class="s3">&quot;true&quot; </span><span class="s0">/&gt;</span><span class="s4"> 
 
            </span><span class="s0">&lt;/</span><span class="s1">android.support.design.widget.TextInputLayout</span><span class="s0">&gt;</span><span class="s4"> 
 
            </span><span class="s0">&lt;</span><span class="s1">android.support.design.widget.TextInputLayout</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0">&gt;</span><span class="s4"> 
 
                </span><span class="s0">&lt;</span><span class="s1">EditText</span><span class="s0"> 
                    </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/password&quot;</span><span class="s0"> 
                    </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
                    </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                    </span><span class="s2">android:hint=</span><span class="s3">&quot;Password&quot;</span><span class="s0"> 
                    </span><span class="s2">android:imeActionId=</span><span class="s3">&quot;@+id/login&quot;</span><span class="s0"> 
                    </span><span class="s2">android:imeActionLabel=</span><span class="s3">&quot;@string/action_sign_in_short&quot;</span><span class="s0"> 
                    </span><span class="s2">android:imeOptions=</span><span class="s3">&quot;actionUnspecified&quot;</span><span class="s0"> 
                    </span><span class="s2">android:inputType=</span><span class="s3">&quot;textPassword&quot;</span><span class="s0"> 
                    </span><span class="s2">android:maxLines=</span><span class="s3">&quot;1&quot;</span><span class="s0"> 
                    </span><span class="s2">android:singleLine=</span><span class="s3">&quot;true&quot; </span><span class="s0">/&gt;</span><span class="s4"> 
 
            </span><span class="s0">&lt;/</span><span class="s1">android.support.design.widget.TextInputLayout</span><span class="s0">&gt;</span><span class="s4"> 
 
            </span><span class="s0">&lt;</span><span class="s1">Button</span><span class="s0"> 
                </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/email_sign_in_button&quot;</span><span class="s0"> 
                </span><span class="s2">style=</span><span class="s3">&quot;?android:textAppearanceSmall&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
                </span><span class="s2">android:layout_marginTop=</span><span class="s3">&quot;16dp&quot;</span><span class="s0"> 
                </span><span class="s2">android:text=</span><span class="s3">&quot;Sign in&quot;</span><span class="s0"> 
                </span><span class="s2">android:textStyle=</span><span class="s3">&quot;bold&quot; </span><span class="s0">/&gt;</span><span class="s4"> 
 
        </span><span class="s0">&lt;/</span><span class="s1">LinearLayout</span><span class="s0">&gt;</span><span class="s4"> 
    </span><span class="s0">&lt;/</span><span class="s1">ScrollView</span><span class="s0">&gt;</span><span class="s4"> 
 
</span><span class="s0">&lt;/</span><span class="s1">LinearLayout</span><span class="s0">&gt;</span><span class="s4"> 
</span></pre>
</body>
</html>